html {
  box-sizing: border-box;
  background-color: #eee9de;
  line-height: 1.5;
  font-family: Lato, regular;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: .2em;
  margin: 0;
}

section {
  text-align: center;
  vertical-align: middle;
  padding: 2em 0;
}

.sup {
  vertical-align: middle;
  padding: 1em;
}

div {
  display: inline-block;
  max-width: 25em;
}

h2 {
  margin: 0 0  1em;
  font-weight: bold;
}

p {
  margin: 0 0 1.5em;
}

img {
  display: block;
  width: 100%;
}

.blah {
  text-align: left;
  vertical-align: middle;
  padding: 1em;
}

.btn {
  color: #333;
  display: inline-block;
  border: 3px solid #333;
  border-radius: 7px;
  padding: .4em .75em .5em;
  text-decoration: none;
  font-size: 1.1rem;
}

a:hover {
  background-color: #666;
  color: #fff;
}
